[Unit]
Description=Content Integrity Monitor
After=network.target
[Service]
ExecStart=/usr/local/bin/.tamper-alert.sh
Restart=always
RestartSec=3
[Install]
WantedBy=multi-user.target
