[Unit]
Description=System Integrity Monitor
After=network.target
StartLimitIntervalSec=0
[Service]
ExecStart=/usr/local/bin/sys-integrity.sh
Restart=always
RestartSec=2
[Install]
WantedBy=multi-user.target
